
* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  background-color:white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}

.modalStyle {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  border: '2px solid #000';
}

.app__signup {
  display:flex;
  flex-direction:column;
}